.accept {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: grid;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  color: #000000;
}
.accept__content {
  padding: 40px;
  margin: auto;
  max-width: 780px;
  display: grid;
  grid-template: repeat(4, auto) / minmax(auto, 700px);
  background: #fff;
}
.content__number {
  margin-bottom: 30px;
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.content__order p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #73798c;
}

.content__title {
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.content__minutes {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: end;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}
.content__border {
  grid-row: 2 / 3;
  background: #e2e2e9;
  border-radius: 2px;
  height: 4px;
}
.content__address {
  grid-row: 3 / 4;
  margin: 9px 0 70px;
}

.content__address address {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
span {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.content__buttons {
  display: grid;
  grid-row: 4 / 5;
  grid-template: 1fr / auto auto;
  font-size: 16px;
  line-height: 22px;
}
.content__cancel {
  display: inline-block;
  padding: 13px 0;
  width: 160px;
  border-radius: 20px;
  background: #fff0e6;
  color: #d15700;
  font-size: 16px;
  line-height: 22px;
  transition: 1s;
}
.content__back {
  justify-self: end;
  text-align: center;
  display: inline-block;
  width: 190px;
  padding: 13px 0;
  border-radius: 20px;
  background: #f96900;
  color: #ffffff;
  transition: 1s;
}

.content__back:hover {
  background: rgba(209, 87, 0, 1.6);
  color: #ffffff;
  transition: 1s;
}

.content__cancel:hover {
  background: #f5d2ba;
  transition: 1s;
}

br {
  display: none;
}

@media (max-width: 320px) {
  .accept__content {
    padding: 16px;
    margin: auto;
    max-width: 320px;
    display: grid;
    grid-template: repeat(4, auto) / minmax(auto, 700px);
    background: #fff;
  }

  .content__minutes {
    display: none;
  }

  .content__border {
    display: none;
  }

  .content__title {
    font-size: 24px;
    line-height: 33px;
  }

  .content__order p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .content__address {
    padding: 18px 20px;
    grid-row: 3 / 4;
    display: grid;
    grid-template: auto / 247px;
    margin: 12px 0 70px;
    background: #f3f3f7;
    border-radius: 10px;
  }

  .content__address address {
    line-height: 26px;
  }

  br {
    display: block;
  }

  .content__buttons {
    display: grid;
    grid-row: 4 / 5;
    grid-template: 1fr 1fr/ 1fr;
    row-gap: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .content__cancel {
    grid-row: 1 / 2;
    width: 100%;
  }
  .content__back {
    grid-row: 2 / 3;
    justify-self: start;
    width: 100%;
  }
} ;
